//variables://

$darkblue: #003366;

body {
	margin: 0;
	padding: 0;
}
.edit-nav {
	background-color: $darkblue;
}

.container-fluid {
	width: 100%;
	height: 100vh;
	background: url(assets/images/blue-background.jpg);
	background-attachment: fixed;
}

.layer1 img {
	position: absolute;
	left: 100px;
}
.layer3 img {
	position: absolute;
	left: 300px;
}

.layer2 img {
	position: absolute;
	left: -1700px;
	top: -0px;
}
.layer4-sun img {
	height: 150px;
}

.layer5-cloud1 img {
	height: 200px;
}
.layer6-textlogo {
	top: 1000px;
}

.layer7 img {
	height: 300px;
	left: 500px;
	top: -200px;
}
#container-2 {
	background-color: $darkblue !important;
	background: none;
}

.card-margin {
	margin-top: 400px;
}
