$color1: black;
$buttonclr: #add8e6;
$darkblue: #003366;

body {
	font-family: fantasy;
}
.edit-nav {
	background-color: $darkblue;
}

.style-pill {
	border-color: darkblue;
	border-style: solid;
	padding-left: 50px !important;
	padding-right: 50px !important;
	padding-top: 0 !important;
}
.badge {
	height: 500px;
	width: 600px;
}

//https://wpforms.com/beautiful-contact-form-designs//
.form-control {
	-moz-box-shadow: inset -3px -3px 10px #eee;
	-webkit-box-shadow: inset -3px -3px 10px #eee;
	box-shadow: inset -3px -3px 10px #eee;
	border-radius: 15px;
}

.btn {
	-moz-box-shadow: inset -3px -3px 10px #0accb2;
	-webkit-box-shadow: inset -3px -3px 10px #0acc9b;
	box-shadow: inset -3px -3px 10px #0a17cc;
	background-color: $buttonclr; /* Fill color */
	color: white; /* Text color */
	border-radius: 20px; /* Rounded button edges */
	font-style: italic; /* Italicize text */
	padding: 10px 30px; /* Distance between text and border */
}
